@import "variable.scss";

.wrapper-input-form {
  margin-top: 10px;
  label {
    color: $black;
    display: block;
    font-weight: 500;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.02);
    font-size: 16px;
  }
}
.input-form.error {
  border: 1px solid $orange;
}
