//Color-Guide
$brown: #635c53;
$dark-brown: #47423c;
$light-brown: #bbb5ae;
$black: #333333;
$gray: #7e7e7e;
$white: #ffffff;
$orange: #ff5f2d;
$dark-orange: #cc431a;
$light-gray: #eeeeee;
$green: #33b95a;
